body {
    background-image: url('img/sunset.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

div h1.judul {
    color: black;
    margin: 100px 0 30px 0;
    /* font-family: "Montserrat", sans-serif; */
    font-size: 50px;
}

div.container {
    display: flex;
    justify-content: center;
    /* font-family: 'Gobold Bold', sans-serif; */
}

div.container div.timer {
    background-color: aliceblue;
    font-size: 20px;
    padding: 10px 15px;
    margin: 0 5px;
    width: 30px;
    border-radius: 12px;
}

div.container div.timer-info {
    color: black;
    width: 30px;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 10px;
}

/* responsive */
@media (min-width: 600px) {
    div.container div.timer {
        background-color: aliceblue;
        font-size: 50px;
        padding: 10px 15px;
        margin: 0 5px;
        width: 70px;
        border-radius: 12px;
    }
    
    div.container div.timer-info {
        color: black;
        width: 70px;
        padding: 10px 15px;
        margin: 0 5px;
        font-size: 10px;
    }
}